extends layout

include _includes/sharedHTMLfunctions.pug

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12
      .row
        .col-xs-12
          -if(error == "delete")
            .alert.alert-danger(role="alert") Error trying to delete assignment
          p Instructor: #{classInfo.instructor}
          p Location: #{classInfo.location}
          p Credits: #{classInfo.credits}
          p
            a.btn.btn-default(href="/class/"+classInfo._id+"/assignment/new" style="margin-right: 1em;") Add Assignment
            a.btn.btn-default(href="/class/"+classInfo._id+"?unsubmitted=true" style="margin-right: 1em;") Show Unsubmitted
            a.btn.btn-default(href="/class/"+classInfo._id) Show All
      .row
        .col-xs-12
          each assignment in assignments
            -if(unsubmitted == "true" && assignment.status != "Submitted" || unsubmitted != "true")
              .panel.panel-primary
                .panel-heading
                  a(href='/class/'+classInfo._id+'/assignment/'+assignment._id)
                    h2.panel-title= assignment.name
                    a.btn.btn-default.button-left(href='/class/'+classInfo._id+'/assignment/'+assignment._id+'/delete') Delete
                .panel-body
                  .row
                    p Due: 
                      +formatDate(assignment.due)
                    p Points: #{assignment.value}
                    p Status: #{assignment.status}
