extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
        h3= pageHeader.strapline
  .row
    .col-xs-12.col-sm-8
      .error= message
      -if(purchase == "complete")
        .alert.alert-success(role="alert").alert-dismissible Item successfully purchased!
          a(href="#" data-dismiss="alert" aria-label="close").close &times;
      .row.list-group
        each item in items
          .col-xs-12.list-group-item
            h4
              a(href="/items/" + item._id)= item.name
            p
              +formatCost(item.price)
              span :&nbsp;#{item.seller}
    .col-xs-12.col-sm-4
      p.lead= sidebar